/* Importando a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Resetando margin, padding e box-sizing, e definindo a fonte padrão do documento */
/* Isso aqui é padrão para inicio de todo CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Removendo o scroll do HTML e Body */
html,
body {
  height: 100%;
  overflow: hidden;
}

/* Configurando as seções */
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff00;
}

/* Configurando o cabeçalho */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Configurando a logo */
header .logo {
  position: relative;
  max-width: 80px;
}

/* Configurando a lista de links no cabeçalho */
header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
  position: relative; /* Adiciona posicionamento relativo ao elemento âncora */
}

header ul li a::after {
  content: '';
  position: absolute;
  left: 50%; /* Centraliza a linha horizontalmente */
  bottom: -6px;
  width: 0; /* Inicialmente a linha não tem largura */
  height: 3px;
  background-color: #000000;
  border-radius: 5px;
  transform: translateX(-50%); /* Ajusta a posição da linha */
  transition: .5s;
}

/* Configura o efeito hover para a linha sob o texto de navegação */
header ul li a:hover::after {
  width: 100%; /* Aumenta a largura da linha ao passar o mouse */
}



/* Configurando o conteúdo da seção */
.conteudo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.conteudo .texto-sobre h2 {
  font-family: Poppins;
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

.conteudo .texto-sobre h2 span {
  font-family: Poppins;
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

.conteudo .texto-sobre p {
  font-family: Poppins;
  color: #333;
}

.conteudo .texto-sobre a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  color: #fff;
  background: #017143;
  transition: background-color 0.3s ease-in-out;
}

/* Configurando o efeito do botão ao passar o mouse */
.conteudo .texto-sobre a:hover {
  background-color: #fff;
  color: #017143;
}

.texto-sobre button {
  background-color: #017143;
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  color: white;
  border-radius: 40px;
  font-weight: 500;
  border: 0;
  letter-spacing: 1px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

/* Configurando o efeito do botão ao passar o mouse */
.texto-sobre button:hover {
  background-color: #fff;
  color: #017143;
}



.conteudo .imgBox {
  width: 600px;
  margin-top: 50px;
  padding-right: 50px;
  justify-content: flex-end;
  display: flex;
  
}

.conteudo .imgBox img {
  max-width: 340px;
}

.conteudo .imgBox:hover {
  transform: translateX(-10px);
  transition: all 0.3s ease-in-out;
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: transform 0.5s ease-out; /* Melhora a transição do efeito */
}

.thumb li:hover {
  transform: translateY(-5px); /* Deixa o efeito mais suave */
}

.thumb li img {
  max-width: 60px;
}

.social {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #017143;
  clip-path: circle(600px at right 800px);
}
